/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

html {
    overflow: auto;
}

ol,
ul {
    list-style: none;
}

/* COLOR PALETTE */
:root {
    --blue: #243477;
    --black: #2c3440;
    --pink: #d86898;
    --white: #f3fcf0;
    --yellow: #e1cf14;
    --orange: #e85337;
    --red: #c6391d;
    --green: #5c745c;
}

/* CUSTOM CSS */
body {
    font-family: Noto Sans Display, sans-serif;
    background-color: var(--black);
    color: var(--white);
    line-height: 1.3;
}

header {
    padding: 20px 100px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    font-family: Anton;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--yellow);
}

h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: center;
}

#cineDeVerano {
    color: var(--yellow);
}

/* NAVIGATION BAR */

nav {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navItem {
    margin: 0 10px;
    font-weight: 200;
    background-color: var(--orange);
    text-align: center;
}

.navItem a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

.dropdown {
    float: left;
    overflow: hidden;
    background-color: var(--orange);
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

nav a:hover,
.dropdown:hover .dropbtn {
    background-color: var(--green);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#totalMovies {
    text-align: center;
    margin: 20px 0;
    color: var(--yellow);
    text-transform: uppercase;
}

.arrow-down {
    width: 25px;
    height: 25px;
    border: solid var(--pink);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    cursor: pointer;
    margin-left: 50%;
    margin-top: 5px;
}

/* MAIN CONTENT */

section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.movieCard {
    width: 25%;
    margin-bottom: 20px;
    background-color: var(--pink);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin: 5px;
    padding-bottom: 15px;
}

.moviePoster {
    width: 100%;
    margin-bottom: 10px;
}

.movieCard h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.enTitle {
    font-style: italic;
}

.movieCard h3,
p {
    padding: 0 10px;
}

.movieCard:hover {
    transform: scale(1.03);
    transition: transform 0.5s ease;
}

.movieCardSettings {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.btn-movieCard {
    background-color: var(--red);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    cursor: pointer;
}

/* FORMS */
.page-h3 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--yellow);
    text-transform: uppercase;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="url"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--white);
    border-radius: 5px;
    background-color: var(--black);
    color: var(--white);
    font-size: 1em;
}

button[type="submit"] {
    background-color: var(--green);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 50px;
}

/* DETAIL PAGE */
#movieDetail {
    margin: 0 200px 50px;
}

#movieDetail .moviePoster {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

#movieDetail .moviePoster:hover {
    transform: scale(1.03);
    transition: transform 0.5s ease;
}

#movieDetailText {
    background-color: var(--pink);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    padding: 30px;
}

#movieDetail p {
    margin-bottom: 10px;
}

/* FOOTER */
footer {
    /* position: absolute;
    width: 100%;
    z-index: -1; */
    position: relative;
    bottom: 0;
    width: 100%;
}

#footer-info {
    text-align: center;
    padding: 1em;
    background-color: var(--green);
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation: 1.8s fadeInUp;
}

/* MEDIA QUERIES */
@media (max-width: 600px) {
    .movieCard {
        width: 100%;
    }

    #movieDetail {
        margin: 0 10px 50px;
    }

    #movieDetail .moviePoster {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}