/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

html {
    overflow: auto;
}

body {
    line-height: 1;
    padding: 0 !important;

}

ol,
ul {
    list-style: none;
}

/* COLOR PALETTE */
:root {
  --blue: #243477;
  --black: #2c3440;
  --pink: #d86898;
  --white: #f3fcf0;
}

/* CUSTOM CSS */
body {
    font-family: Overlock, sans-serif; 
    background-color: var(--black);
    color: var(--white);
}

header {
    padding: 20px 100px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    
    text-transform: uppercase;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: center;
    
}
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #be95c4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.movieCard {
    width: 25%;
    margin-bottom: 20px;
    background-color: rgba(243, 252, 240, 0.6);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin: 5px;
}

.moviePoster {
    width: 100%;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    
}